body {
    padding: 0;
    margin: 0;
    font-family: 'Merriweather';
  }
  
  #map,
  body,
  html {
    height: 85%;
    margin-left: 3%;
    margin-right: 3%
  }
  
  
  .info { 
    padding: 2px 3px; 
    font: 8px/10px "Merriweather", sans-serif; 
    background: white; 
    background: rgba(255,255,255,0.8); 
    box-shadow: 0 0 10px rgba(0,0,0,0.2); 
    border-radius: 1px; } 
  
  
  .legend {
    line-height: 18px;
    color: #282727;
    
  }
  .legend i {
    width: 18px;
    height: 12px;
    float: left;
    margin-right: 8px;
    opacity: 1.0;
  }

  #chart-container {
    padding: 2px 3px; 
    position: relative;
    height: 100vh;
    overflow: hidden;
  }