<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Data Science Salaries by Country</title>
    <!--Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    />
    <!-- Our CSS -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <!-- Leaflet CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <!--Google Font API CSS-->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Merriweather:wght@500&display=swap">
  </head>

  <body>
      <div class="row">
        <div style="background: #5F9EA0 !important" class="col-md-12 jumbotron text-center">
          <h1>Data Salaries by Country</h1>
          <p>Use the interactive charts below to explore the dataset</p>
          <p style="text-align: center">
        </div>
      </div>
    </div>

    <div id="map"></div>
      
    </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well">
            <h5>Country:</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
        </div>
        <div class="col-md-5">
          <div id="chart-container"></div>
          <script src="https://fastly.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>
        </div>
        <div class="col-md-5">
          <div id="gauge"></div>
        </div>
      </div>
    </div>
    </body>

    <script
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{{ url_for('static', filename='js/logic.js') }}"></script>
    <!-- Our JavaScript -->
    <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  </body>
</html>